<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionString" value="Server=3.130.26.194;Database=inew2330gsp23;User Id=team3sp232330;password=fyMU9QpqmW"/>
	</appSettings>
</configuration>