<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Team3Project_Fixed.Properties.Settings.inew2330gsp23ConnectionString"
            connectionString="Data Source=3.130.26.194;Initial Catalog=inew2330gsp23;Persist Security Info=True;User ID=team3sp232330;Password=fyMU9QpqmW"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionString" value="Server=3.130.26.194;Database=inew2330gsp23;User Id=team3sp232330;password=fyMU9QpqmW"/>
		<add key="smtpServer" value="smtp-relay.sendinblue.com" />
		<add key="smtpPort" value="587" />
		<add key="emailUsername" value="csmith115455@mymail.tstc.edu" />
		<add key="emailPassword" value="xsmtpsib-02c2e27e479c22088738a90c4ce4c8c94a3de47bb5976b8dc30924efc9f397b2-ENaPyxzWsGpfUM67" />
	</appSettings>
</configuration>